body{
    font-family: 'Montserrat';
    color: black;
}
.logos{ 
    
    display:flex;    
    margin: 0px 2.5rem;
    justify-content: space-between;
}
.logo-link{
    border: 1px solid rgba(230,230,255,2);
    border-radius: 0.5rem;
    
}
.media{
    width: 35px;
    height: 35px;
}
.linkedin{
    width: 40px;
    height: 40px;
}
.army-logo{
    
    width: 75px;
    height: 75px;
    
}
.pucit-logo{
    width:75px;
    height:75px;
}


li{ color:gray;
    margin: 0rem 0.7rem 0rem  0.7rem;
    font-size: 1rem;
    list-style-type: none;
    display: inline-block;

}
li a{
    color: black;
    text-decoration: none;
}
.list:hover{
    color:coral;
}

.active{
    color:coral;
}
.nav-bar{
    align-items: center;
    
    text-align:center;

}
.picture{
   
    width:25rem;
    height:27rem;
}

.potrait{
    margin: 0 auto 0 auto;
    width:97%;
}
.potrait h2{
    margin-bottom: 3rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
}

.grid-container{
    display: flex;
    margin: 0 auto 0 auto;
    width:97%;
}
.general-profile{
    text-align: justify;
    border-radius: 0.3rem;
    background-color:rgb(248,248,248);
    margin-top: 2rem;
    margin-right: 2rem;
    padding: 4rem 2rem 4rem 2rem;
    border-left:0.4rem solid palegreen;
}
.address-profile{
    text-align: justify;
    border-radius: 0.3rem;
    background-color:rgb(248,248,248);
    margin-top: 2rem;
    padding: 4rem 2rem 4rem 2rem;
    border-left:0.4rem solid palegreen;
    display: flex;
}
.spaced-text{
    margin-left: 2rem;
}
.headings{
    font-weight: 700;
    min-width: 8rem;
}
.data{
    padding-left:2rem;
}